@import "tailwindcss";

.custom-textarea {
  @apply dark:bg-[#202124]! border-none! dark:caret-[#d7d7d7]! dark:text-[#d7d7d7]!
  text-[16px];
}

.custom-textarea .ant-input::placeholder {
  @apply dark:text-gray-600! text-[14px];
}

.custom-textarea .ant-input-data-count {
  @apply dark:text-[#d7d7d7]! text-[12px]!;
}
.ant-message {
  z-index: 1050 !important;
}

.ant-picker-dropdown {
  @apply dark:text-[#d7d7d7]!;
}

.ant-picker {
  @apply dark:bg-transparent! border-none;
}

.ant-picker input {
  @apply dark:bg-[#292a2d]!;
}

.ant-picker-panel {
  @apply dark:bg-[#202124]! dark:text-[#d7d7d7]!;
}

.ant-picker-cell {
  @apply dark:text-[#d7d7d7]!;
}

.ant-picker-cell:hover {
  @apply dark:bg-[#292a2d];
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  @apply bg-[#5145bb]!;
}

.ant-picker-header {
  @apply dark:text-[#d7d7d7]!;
}

/* ***************************************** SELECT ******************************************* */
.custom-select .ant-select-selector {
  @apply dark:bg-transparent! dark:text-[#d7d7d7]!
  border-none;
  background: transparent!;
}

.custom-select:hover .ant-select-selector {
  @apply dark:border-[#5145bb];
}

/* .custom-select .ant-select-selector {
  @apply border-none dark:bg-transparent;
  font-size: 16px !important;
} */

.custom-select .ant-select-selection-placeholder {
  @apply dark:text-gray-600;
  font-size: 16px !important;
}

.custom-select .ant-select-selection-item {
  font-size: 16px !important;
}

.custom-select .ant-select-selection-search-input {
  font-size: 16px !important;
}

.ant-select-dropdown {
  font-size: 14px !important;
  @apply dark:bg-[#292a2d];
}

.ant-select-dropdown .ant-select-item {
  @apply dark:text-[#d7d7d7]!;
}

/* Selected option */
.ant-select-dropdown .ant-select-item-option-selected {
  background-color: rgba(81, 69, 187, 0.2) !important;
  color: #5145bb !important;
}
